a { 
    text-decoration: none; 
    color: rgb(60, 255, 0);
    transition: 1s 2s; 
} 
 
a:link { 
    color: rgb(0, 90, 1); 
    text-decoration: underline; 
} 
 
a:visited { 
    color: rgb(0, 183, 255); 
    text-decoration: underline; 
} 
 
a:hover { 
    color: rgb(1, 0, 34); 
    text-decoration: underline;
    transition: 0.3s; 
} 
 
a:active { 
    color: rgb(174, 170, 255); 
    opacity: 1; 
}

div.menu {
    border: 7px solid #ffffff;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

div.menu:hover {
    background-color: #ffffff ;
    box-shadow: 0 0 15px #ffffff80;
}

h1 {
    text-align: center;
}