a { 
    text-decoration: none; 
    color: rgb(60, 255, 0);
} 
 
a:link { 
    color: rgb(0, 90, 1); 
    text-decoration: underline; 
} 
 
a:visited { 
    color: rgb(0, 183, 255); 
    text-decoration: underline; 
} 
 
a:hover { 
    color: rgb(1, 0, 34); 
    text-decoration: underline; 
} 
 
a:active { 
    color: rgb(174, 170, 255); 
    opacity: 1; 
}
